.button {
    border-radius: 12px;
    padding: 16px 32px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.5s;
    font-size: 16px;
    border: none;
    height: 64px;
}

.accent {
    background: #7B6EF6;
}

.accent:hover {
    background: #4632fd;
}

.font {
    font-weight: 400;
    font-size: 16px;
}

