.card-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 колонок одинаковой ширины */
    column-gap: 10px;
    row-gap: 40px;
}

@media (max-width: 1600px) {
    .card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-list {
        grid-template-columns: 1fr;
    }
}

.not_found_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* центрируем по горизонтали */
    height: 10vh;
    /* можно подогнать под нужную высоту */
    text-align: center;
    /* выравниваем текст по центру */
    /* расстояние между строками */
    
}

.not_found_big {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #ebeef5;
}

.not_found_small {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #767e94;
}