.movie_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.movie-pic {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.star_container {
    position: absolute;
    top: 8px;
    left: 8px;

    display: flex;
    /* включаем flex */
    align-items: center;
    /* выравниваем по вертикали */
    justify-content: center;
    /* можно центрировать по горизонтали, если нужно */
    gap: 6px;
    /* расстояние между звездой и числом */

    border-radius: 8px;
    padding: 4px 8px;
    width: 65px;
    height: 32px;

    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.65);
}

.star_pic {
    width: 16px;
    height: auto;
}

.counter_star {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffad49;
}

.name_movie {
    font-weight: 600;
    font-size: 16px; 
    letter-spacing: 0.02em;
    color: #ebeef5;
    line-height: 40px;
    margin: 0;
}

.floor_container {
    display: flex;
    /* включаем flex */
    align-items: center;
    /* выравниваем по вертикали */
    /* justify-content: center; */
    /* можно центрировать по горизонтали, если нужно */
    gap: 6px;
    cursor: pointer;
    margin-top: 4px;
}

.like_svg {
    width: 24px;
    height: auto;
}

.add_fav {
    font-size: 16px;
    color: #7b6ef6;
    margin: 0;
}